*{
    margin: 0;
    padding: 0;
}

.container{/*  chỉnh bố cục ảnh và background sau nó */
    min-height: 100vh;
    background:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

s*{
    margin: 0;
    padding: 0;
}

i{/*  chỉnh icon ngôi sao */
    font-size:16px;
    text-align: center;
    padding-right: 10px;
}

h2{/*  chỉnh ô chứa chữ H2 */
text-align: center;
font-size:23px; 
padding-left:325px;/*  chỉnh khoảng cách 2 bên lề để song song với ảnh */
padding-right:343px;
padding-bottom:70px;
padding-top:100px;
}

h5{/*  chỉnh ô chứa chữ H5 */
    text-align: left;
    font-size:16px; 
    font-weight: 50;
    padding-left:340px;/*  chỉnh khoảng cách 2 bên lề để song song với ảnh */
    padding-right:343px;
    padding-top:10px;
    padding-bottom:18px;


    }

h6{/*  chỉnh ô chứa chữ H6 */
    text-align: left;
    font-size:17.5px; 
    font-weight: 600;
    text-decoration: underline;
    padding-left:355px;/*  chỉnh khoảng cách 2 bên lề để song song với ảnh */
    padding-right:343px;
    padding-bottom:10px;
    margin-top:-10px;/*  chỉnh khoảng cách so với chữ bên trên */
}
.image{/*  chỉnh ảnh trong mục body */
    align-items: center;
    text-align: center;
}



/*-----------------BÀI VIẾT LIÊN QUAN--------------------------*/


hr{/*  chỉnh thanh kẻ giữa bài viết liên quan với ảnh trên */
    margin-top:70px;/*  chỉnh khoảng cách so với chữ bên trên */padding-left:325px;/*  chỉnh khoảng cách 2 bên lề để song song với ảnh */
    margin-left:313px;
}
h1{/*  chỉnh ô chứa chữ H1 */
    text-align: left;
    font-size:16px; 
    font-weight: 550;
    padding-left:325px;/*  chỉnh khoảng cách 2 bên lề để song song với ảnh */
    padding-right:343px;
    padding-bottom:18px;
    margin-top:15px;/*  chỉnh khoảng cách so với chữ bên trên */
}
#list-new {/*  chỉnh ảnh bài viết liên quan */
    font-size:10px;/*size chữ sản phẩm*/
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left:190px;/*  chỉnh khoảng cách 2 bên lề để song song với ảnh */
    padding-right:317px;
    margin-top:40px;

}

#list-new .item .name {/*  chỉnh chữ bài viết liên quan */
    text-align: center;
    color:rgb(10, 10, 10);
    font-weight: bold;
    margin-top:20px;/*chỉnh khoảng cách từ tên so với sản phẩm*/
}


#list-new .box-left{
    text-align: center;
    margin-top:435px;/*chỉnh lên xuống nút xem thêm */
    margin-left:-490px;/*chỉnh trái phải nút xem thêm*/
    
}
#list-new .box-left button:hover {/*màu sắc khi nhấp vô nút buttom mua ngay*/
    background:orange;
}
#list-new .box-left button {/*nút buttom mua ngay*/
    font-size:12px;/*chỉnh size chữ*/
    width: 80px;/*chỉnh size dài bóng đen*/
    height: 30px;/*chỉnh size rộng bóng đen*/
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 200px;
    transition:0.4s;/*chỉnh tốc độ chuyển màu*/
}


/*----------------FOOTER--------------------*/

footer{
    background:rgb(0, 0, 0);
    display:flex;
    margin-top:70px;
    justify-content: space-around;
    margin-bottom:0px;
    padding-bottom: 20px;   /*chỉnh size background đen */
    padding-left:150px;
    
}
footer.col{
    
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin-top: 100p;
}
footer h4{   /*chỉnh size chữ H4*/
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding-bottom:30px;
    margin-top:40px;
    font-weight: bold;
}
footer p{  /*chỉnh size chữ P*/
    color:rgb(255, 255, 255);
    font-size: 13px;
    text-decoration:none;
    margin-bottom:15px;

 
}
footer li{ /*chỉnh icon fb,instagram,youtube*/
    color:#fff;
    margin-top: 3px;
    font-weight: bold;
    
   
}
@media screen and  (max-width: 870px)  and (min-width:300px){
    body {
   width: 1500px;
    }
}

.gallery-display-area{
    overflow: hidden;
    height: 360px;
    width: 1080px;
    
}

.gallery-wrap{
    animation: slideShow 16s infinite;
    
}

.image{
    float: left;
    height: 360px;
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;

}


li{
    list-style: none;/* bỏ chấm tròn của Others*/
}
body{/* chỉnh màu background menu (màu ô chứa chữ ko thay đổi)*/
    background-color: white;
}
header{/* chỉnh menu*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    margin-top:0px; 
    position:fixed; 
    top:0;
    left:0;
    right:0;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(241, 241, 241, 0.873);
    float: left;
}



/* ---------------chỉnh logo----------------*/
header img{
    width:150px;
    cursor:pointer;
}



/* ---------------chỉnh other (search,shopping,user)----------------*/
.other{
    display:flex;
}
.other >li{
    padding:0 12px;
}
.other >li:first-child{
    position:relative;
}
.other >li:first-child input{/* chỉnh ô tìm kiếm*/
    width:100%;/* chỉnh  độ dài ô tìm kiếm*/
    height:100%;/* chỉnh độ rộng ô tìm kiếm*/
    margin-top: -20px;
    margin-left: -20px;
    border:10;
}
.other >li:first-child i{
    position:absolute;
    right:10px;/* chỉnh vị trí  Icon search */
}


/* ---------------------------chỉnh Menu-------------------------------*/
.login {
padding: 0px;
border: 1px solid rgb(196, 196, 196);
border-radius: 3px;
margin: 0 50px;
position: relative;
}
.login:hover {
box-shadow: 0px 0px 3px 0px grey;
cursor: pointer;
}
.login a {
padding: 15px;
text-decoration: none;
color: #676767;
font-weight: 700;
}
.login:hover .logout{
display: block;
}
.login .logout{
display: none;
position: absolute;
top: 2.3rem;
left: 0px;
z-index: 10;
width: 150%;
border: 1px solid grey;
border-radius: 5px;
padding: 10px 0;
}
.login .logout a{
color: black;
font-weight: 500;
border-radius: 5px;
margin: 10px 0;
}
.login .logout a:hover{
opacity: 0.8;
}
#menu {
    list-style:none;
    display: flex;
}

#menu ul{
    list-style-type: none;
    background:#ffffff;   /*  chỉnh màu ô chứa chữ */
    text-align: center;
}
#menu ul li{
    color:#0f0f0f;
    display:inline-table;
    width:120px;/* khoảng cách giữa các chữ trong menu */
    height:30px;/* khoảng cách giữa menu và banner*/
    line-height: 50px;/* khoảng cách giữa menu và thanh tìm kiếm*/
    position:relative;   /* chỉnh khung menu xuống thành 1 hàng dọc */

}
#menu ul li a{
    color:#060606;/* chỉnh màu chữ trên thanh menu */
    text-decoration: none;
    display:block;
    font-size:17px;/* chỉnh cỡ chữ trên thanh menu*/
}
#menu ul li a:hover{
    background:rgba(123, 123, 123, 0.262);/* chỉnh màu Ô lúc dê chuột vào */
    color:#333;/* chỉnh màu chữ trong Ô lúc dê chuột vào */
    
}
#menu ul li >.sub-menu{
    display: none;
    position: absolute;
    background-color:  #ffffff;/* chỉnh màu Ô đa cấp lúc dê chuột vào */
    z-index: 1;
    list-style: none;
}

#menu ul li:hover .sub-menu{
    display:block;
}

@keyframes slideShow{
    20%{
        margin-left: 0;        
    }
    30%{
        margin-left: -100%;        
    }
    40%{
        margin-left: -100%;        
    }
    50%{
        margin-left: -200%;        
    }
    60%{
        margin-left: -200%;        
    }
    70%{
        margin-left: -300%;        
    }
    80%{
        margin-left: -300%;        
    }
    90%{
        margin-left: -400%;        
    }
    100%{
        margin-left: -400%;        
    }
}
h5{/*  chỉnh  ô chứa chữ H4 */
    font-size:16.6px;
    color:rgb(0, 0, 0);
    text-align:center;
    padding-left:395px;
    padding-right:395px;
    letter-spacing:0.5px;
    line-height:40px;
    font-weight:500;
    padding-bottom:70px;
    
    
}
h2{/*  chỉnh ô chứa chữ H2 */
   text-align: center;
  padding:80px;
  font-size:25px;
  margin-top:-200px
  
}
/*----------------FOOTER--------------------*/

footer{
    background:rgb(0, 0, 0);
    display:flex;
    margin-top:0px;
    justify-content: space-around;
    margin-bottom:0px;
    padding-bottom: 20px;   /*chỉnh size background đen */
    
}
footer.col{
    
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin-top: 100p;
}
footer h4{   /*chỉnh size chữ H4*/
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding-bottom:30px;
    margin-top:40px;
    font-weight: bold;
}
footer p{  /*chỉnh size chữ P*/
    color:rgb(255, 255, 255);
    font-size: 13px;
    text-decoration:none;
    margin-bottom:15px;

 
}
footer li i{ /*chỉnh icon fb,instagram,youtube*/
    color:#fff;
    margin-top: 3px;
    font-weight: bold;
    margin-left: -20px;
    padding-top:6px/*chỉnh lại vị trí trên dưới của icon trong FOOTER*/
   
}
@media screen and  (max-width: 870px)  and (min-width:300px){
    body {
   width: 1800px;
    }
}